.left-sidemenu {
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2), 5px 10px 10px 0 rgba(0, 0, 0, 0.19);
}

.right-sidemenu {
    padding: 0px !important;
    position: relative;
}

.center-card {
    border-radius: 25px !important;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.book-card {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.right-sidemenu .sidemenu-img {
    padding: 50px 20px;
}

.list-group-item {
    padding: 20px 0px;
}